<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
#formulario {
	position: relative !important;
	left: 70% !important;
}
#label{
	position: relative !important;
	left: 17% !important;
}
</style>
<body>
<header th:replace="layout/layout :: header">
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Artistfy</title>

        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/jplayer.css"> 
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/beat.css">         
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/magnific-popup.css">
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/owl.carousel.css">      
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/cubeportfolio.min.css">      
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/main.css"> 
        <link rel="stylesheet" href="https://demo.themeregion.com/playbit/css/responsive.css"> 
</header>
<h2 id="label">Registrar Artista</h2>
<br/>
<div class="row">
        <div class="col-md-3 form-horizontal">
             <form  id="formulario" th:action="@{/artists/add}" method="post">
                
                 <input type="text" class="form-control" name="firstName" placeholder="Ingrese el nombre" minlength="5" maxlength="40" required>
                 <br/>
                 <input type="text" class="form-control" name="lastName" placeholder="Ingrese su apellido" minlength="5" maxlength="40" required>
                 <br/>
                 <input type="text" class="form-control" name="dni" placeholder="Ingrese su dni" maxlength="8" required>
                 <br/>
                 <input type="email" class="form-control" name="email" placeholder="Ingrese su email">
                 <br/>
                 <input type="text" class="form-control" name="phone" placeholder="Ingrese su celular" maxlength="8" required>
                 <br/>
                 <input type="text" class="form-control" name="skill" placeholder="Ingrese sus habilidades" minlength="5" maxlength="40" required>
                 <br/>
                 <input type="text" class="form-control" name="genre" placeholder="Ingrese sus generos favoritos" minlength="5" maxlength="40" required>
                 <br/>
                  <input type="text" class="form-control" name="websiteUrl" placeholder="ingrese sus redes sociales" minlength="5" maxlength="40" required>
                 <br/>
                 <button class="btn btn-primary" type="submit">Registrar</button>
             </form>
        </div>
</div>
</body>
</html>