<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
#formulario {
	position: relative !important;
	left: 70% !important;
}
#label{
	position: relative !important;
	left: 17% !important;
}
</style>
<body>
<header th:replace="layout/layout :: header"></header>
<h2 id="label">Registrar Organizador</h2>
<br/>
<div class="row">
        <div class="col-md-3 form-horizontal">
             <form  id="formulario" th:action="@{/organizers/add}" method="post">
                
                 <input type="text" class="form-control" name="firstName" placeholder="Ingrese el nombre" minlength="5" maxlength="40" required>
                 <br/>
                 <input type="text" class="form-control" name="lastName" placeholder="Ingrese su apellido" minlength="5" maxlength="40" required>
                 <br/>
                 <input type="text" class="form-control" name="dni" placeholder="Ingrese su dni" maxlength="8" required>
                 <br/>
                 <input type="email" class="form-control" name="email" placeholder="Ingrese su email">
                 <br/>
                 <input type="text" class="form-control" name="phone" placeholder="Ingrese su celular" maxlength="8" required>
                 <br/>
                 <button class="btn btn-primary" type="submit">Registrar</button>
             </form>
        </div>
</div>
</body>
</html>